---
import { Button } from 'free-astro-components'
import Code from '../components/Code.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
import CTAButton from '../components/CTAButton.astro'
---

<Layout title="AZDZ Club - Deggendorf">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="AZDZ Club, Deggendorf."
      description="we provide students with hands-on experience and opportunities to work on projects related to electrical engineering"
    >
      <div>
        <CTAButton />
      </div>
    </Hero>
    <Intro />
    <CTA
      align="center"
      title="Ready to <strong>Get on board?</strong>"
      description="Whether you are a beginner or an expert, you will find hands-on learning, exciting projects, and a supportive community. Do not just study—build, experiment, and innovate with us! 🤖"
    >
      <CTAButton />
    </CTA>
  </main>
  <Footer />
</Layout>
