---
import { Button, ThemeSwitch } from 'free-astro-components'
import Hamburguer from './Hamburguer.astro'

import Logo from './Logo.astro'
import CTAButton from './CTAButton.astro'
import { SignUpURL } from '../data/global'
---

<header
  class="fixed inset-x-0 top-0 bg-neutral-100/60 text-neutral-700 pt-4 pb-2 border-b border-neutral-300/50 backdrop-blur-md z-20"
>
  <div class="container flex justify-between items-center gap-8">
    <a
      class="text-primary hover:text-secondary text-4xl font-bold leading-none transition duration-300 ease-in-out"
      href="/"
      aria-label="AZDZ-Club"
    >
      <Logo />
    </a>

    <nav>
      <ul class="flex items-center gap-8">
        <li class="hidden lg:block">
          <a
            class="text-sm hover:text-primary transition duration-300 ease-in-out"
            href="/guides">Guides</a
          >
        </li>
        <li class="hidden lg:block">
          <a
            class="text-sm hover:text-primary transition duration-300 ease-in-out"
            href="/projects">Projects</a
          >
        </li>
        <li class="hidden lg:block">
          <a
            class="text-sm hover:text-primary transition duration-300 ease-in-out"
            href="/Workshops">Workshops</a
          >
        </li>
        <li>
          <ThemeSwitch />
        </li>
        <li class="lg:hidden">
          <Hamburguer />
        </li>
        <li class="hidden lg:block">
          <Button href="" label="Join our adventure!" />
        </li>
      </ul>
    </nav>
  </div>
  <div class="lg:hidden border-t mt-2 pt-2 h-full flex justify-center items-center border-neutral-300/50">
    <p>
      Why don't you join us?
      <a class="text-sm text-primary underline underline-offset-4" href={SignUpURL}>Sign Up for free here.</a>
    </p>
  </div>
</header>

<script>
  import { DOMLoaded } from '../ts/utils'

  DOMLoaded(() => {
    const body = document.querySelector('body') as HTMLElement
    const hamburguer = document.querySelector(
      '[data-hamburguer]'
    ) as HTMLButtonElement
    const nav = document.querySelector('[data-nav]') as HTMLElement

    hamburguer.addEventListener('click', () => {
      hamburguer.toggleAttribute('open')
      nav.toggleAttribute('open')
      body.classList.toggle('overflow-hidden')
    })
  })
</script>
