---
import Card from '../components/Card.astro'
---

<section class="py-16 lg:py-32">
  <div class="container flex flex-col gap-16">
    <div class="flex flex-col gap-4">
      <h2 class="text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium">
        What do we do & why should you join us.
      </h2>
      <p class="text-neutral-500 lg:text-lg">
        At the AZDZ-Club, we learn by doing—building circuits, and exploring
        embedded systems. Join us to experiment, create, and grow your skills!
      </p>
    </div>

    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-8 xl:gap-16">
      <li>
        <Card
          type="primary"
          icon="star"
          title="Workshops"
          description="Learn by doing! Our hands-on workshops cover everything from basic circuits to advanced embedded systems, helping you build practical skills and confidence in electrical engineering.  "
        />
      </li>
      <li>
        <Card
          type="light"
          icon="ellipse"
          title="Meetings"
          description="Turn ideas into reality! Work on exciting projects, collaborate with peers, and apply your knowledge to solve real-world problems in automation, robotics, and more.  "
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="square"
          title="Projects"
          description="Connect, share, and grow! Our regular meetings provide a space to discuss ideas, get guidance, and stay updated on the latest trends in electrical engineering."
        />
      </li>
    </ul>
  </div>
</section>
